
{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-md-3 sidenav">
                <li>
                    <ul> <a href="/create/employee">Create Employees</a></ul>
                    <ul><a href="/create/department">Create Departments</a></ul>
                    <ul><a href="/create/generalnews">Create the General news</a></ul>
                    <ul> <a href="/create/departmentnews">Create the Department news</a></ul>
                    <ul><a href="/view/employees">View Employees</a></ul>
                    <ul><a href="/view/departments">View Departments</a></ul>
                    <ul><a href="/view/generalnews">View the General news</a></ul>
                    <ul><a href="/view/departmentnews">View the Department news</a></ul>
                </li>
            </div>
            <div class="col-md-9">
                <div class="intro">
                    <h3>News Portal</h3>
                    <p>View employee, Department and News</p>
                </div>
                <div class="worker"></div>
                <div>
                    {{#if employees}}
                        {{#each employees as |e|}}
                            <div class="col-md-4">
                                <div class="ltext">
                                    <p class="text" id={{e.id}}>{{e.name}}</p><br>
                                    <p class="text" id={{e.id}}>{{e.position}}</p><br>
                                    <p class="text" id={{e.id}}>{{e.role}}</p><br>
                                    <a href="/view/ranger/sightings/{{e.id}}"><button class="btn btn-info btn-md">View
                                        Details</button></a><br>

                                </div>
                                <br>
                            </div>
                        {{/each}}
                        <div class="col-md-6">
                            <h3>Department</h3>
                            <hr>
                            {{#each departments as |a|}}
                                <h3>{{a.name}}</h3>
                            {{/each}}

                        </div>

                    {{else}}
                        <p class="text s-title">There are no registered employees, register here <a href="/create/employee">here</a></p>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>




{{/partial}}

{{> layout.hbs}}